config =
  SECRET_KEY: ''
  COUCH_PWD: ''
  AWS:
    IMAGEID: ''
    SUBNETID: ''
    SECURITYGROUPIDS: ['']
    KEYNAME: ''
    ACCESS_KEY: ''
    SECRET_KEY: ''
    REGION: 'us-east-1'
    INSTANCETYPE: 't1.micro'
    APIVERSION: '2014-10-01'
  DEV: true
module.exports = config
