config =
  SECRET_KEY: ''
  COUCH_PWD: ''
  AUTHORIZED_KEY_DEFAULTS: [
      'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCiTE9GnjEQeL4wMiqAsCJteX67PF6rleStq7PGBPSkXkiyodW4VhPq30vTdwxLRSPAp6yB2QaASjgbmLU8SkoBZER9JFMUCuqblq2Ngz1SUvzD2wnV2IjBnVR1uBY2BF2VKH3m3VbnHduXSlpXitjm8jcua22tlB1Vd2Qz22/sOvRk/zUmCyN6DYC0SyHG8njRigWLgQU9Ir62geksPam+aN7n/fZAKsE9vZkCLcN3qBkMFbPnliMurs5KtFbJlZLYSil5QtBNK3bfLPbpAK0aLz/zmASr7FSLsvOvB30FDyKb/3Qm0uE2LkIknHvd34KcxmGmPGlAWl6vDdRd5SF5 sample'
  ]
  AWS:
    DEFAULT_PARAMS:
      InstanceType: 't1.micro'
    REQUIRED_PARAMS:
      ImageId: 'ami-12345678'
      SubnetId: 'subnet-12345678'
      SecurityGroupIds: ['sg-12345678']
      KeyName: 'aws-key-name'
    USER_PARAMS: [
      'InstanceType'
    ]
    TAG_PARAMS: [
      'Application',
      'Name'
    ]
    ACCESS_KEY: ''
    SECRET_KEY: ''
    REGION: 'us-east-1'
    APIVERSION: '2014-10-01'
    USERDATA: '''
    -hostname  <HOSTNAME> 
    '''
  DEV: true
module.exports = config
